[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "celliverse"]
	path = celliverse
	url = https://github.com/asalavaty/celliverse
[submodule "influential"]
	path = influential
	url = https://github.com/asalavaty/influential
